src/main/java/com/support/gluo/WSDL/PerfiladorMTV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://negocio.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://negocio.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns:intf="http://negocio.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns:tns1="http://entidades.datos.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://negocio.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://entidades.datos.perfiladormt.dsie.gsa.sds.di.telcel.com.mx"/>
            <element name="validAcceso">
                <complexType>
                    <sequence>
                        <element name="telefono" type="xsd:string"/>
                        <element name="password" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="validAccesoResponse">
                <complexType>
                    <sequence>
                        <element name="validAccesoReturn" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="obtenerPerfil">
                <complexType>
                    <sequence>
                        <element name="telefono" type="xsd:string"/>
                        <element name="origen" type="xsd:string"/>
                        <element name="accion" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="obtenerPerfilResponse">
                <complexType>
                    <sequence>
                        <element name="obtenerPerfilReturn" type="tns1:Perfil"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://entidades.datos.perfiladormt.dsie.gsa.sds.di.telcel.com.mx" xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="Perfil">
                <sequence>
                    <element name="codigoRespuesta" type="xsd:int"/>
                    <element name="perfil" nillable="true" type="xsd:string"/>
                    <element name="region" type="xsd:int"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="validAccesoRequest">

        <wsdl:part element="impl:validAcceso" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="obtenerPerfilResponse">

        <wsdl:part element="impl:obtenerPerfilResponse" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="validAccesoResponse">

        <wsdl:part element="impl:validAccesoResponse" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="obtenerPerfilRequest">

        <wsdl:part element="impl:obtenerPerfil" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:portType name="PerfiladorMT">

        <wsdl:operation name="validAcceso">

            <wsdl:input message="impl:validAccesoRequest" name="validAccesoRequest">

            </wsdl:input>

            <wsdl:output message="impl:validAccesoResponse" name="validAccesoResponse">

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="obtenerPerfil">

            <wsdl:input message="impl:obtenerPerfilRequest" name="obtenerPerfilRequest">

            </wsdl:input>

            <wsdl:output message="impl:obtenerPerfilResponse" name="obtenerPerfilResponse">

            </wsdl:output>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="PerfiladorMTSoapBinding" type="impl:PerfiladorMT">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="validAcceso">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="validAccesoRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="validAccesoResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="obtenerPerfil">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="obtenerPerfilRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="obtenerPerfilResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="PerfiladorMTService">

        <wsdl:port binding="impl:PerfiladorMTSoapBinding" name="PerfiladorMT">

            <wsdlsoap:address location="http://clientesw.telcel.com/PerfiladorMTV2/services/PerfiladorMT"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
